body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* font-family: Rubik Bubbles; */
    font-family: Caveat;
    display: flex;
    justify-content: center;
    background-color: bisque;

}

.gameContainer {
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: rgb(248, 242, 253);
}

h1 {
    border: 1px solid black;
    margin: 0 0;
    padding: 0.25rem 0.5rem;
    font-size: 25px;
}

.info {
    /* border: 1px solid black; */
    background-color: azure;
    border-radius: 10px;
    /* width: 180px; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0.5rem 0;
}

h3 {
    padding: 0.25rem 0.25rem;
    margin: 0 0.5rem;
}

.grid {
    border: 1px solid rgb(205, 205, 205);
    background-color: white;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}

.buttons {
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    margin-bottom: 1rem;

}

.controls:hover {
    background-color: transparent;
}

.controls {
    font-family: Caveat;
    font-size: 1rem;
    font-weight: 700;
    width: 80px;
    border-radius: 5px;
    border: 1px solid rgb(126, 124, 124);
    background-color: white;
}

.grid div {
    height: 20px;
    width: 20px;
}

.circularPath {
    border-radius: 10px;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: transparent;
}

.l1,
.l2,
.l3 {
    background-color: brown;
}

.l4,
.l5 {
    background-color: lightblue;
}

.c1 {
    background-color: black;
}

.c2,
.c3 {
    background-color: lightgray;
}

.frog {
    /* background-color: green; */
    background-image: url('images/frog-pic.png');
    background-size: cover;
}

.shake {
    animation: jump-shaking 0.3s infinite;
}

@keyframes jump-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateY(-4px)
    }

    35% {
        transform: translateY(-4px) rotate(6deg)
    }

    55% {
        transform: translateY(-4px) rotate(-6deg)
    }

    65% {
        transform: translateY(-4px) rotate(6deg)
    }

    75% {
        transform: translateY(-4px) rotate(-6deg)
    }

    100% {
        transform: translateY(0) rotate(0)
    }
}

.shape {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0.5rem 0 0.5rem;
    border: 1px solid black;
    border-radius: 10px;

}

.shape p {
    margin: 0;
}

label {
    margin: 0 1rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Darkmode slider */
.darkSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.darkSlider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.darkSlider {
    background-color: #081825;
}

input:focus+.darkSlider {
    box-shadow: 0 0 1px #081825;
}

input:checked+.darkSlider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.darkSlider.round {
    border-radius: 34px;
}

.darkSlider.round:before {
    border-radius: 50%;
}

.instructions {
    border: 1px solid black;
    background-color: azure;
    border-radius: 10px;
    /* width: 180px; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0.5rem ;
}
.visibility{
    display: flex;
    align-items: center;
}
.visibility img{
    width: 20px;
    height: 20px;
    margin: 0 0.5rem;
}