*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
2. Remove default margin
    */
* {
    margin: 0;

}

/* Fonts used Anton, Rubik , Silkscreen, Caveat  */

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
    */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* font-family: Rubik Bubbles; */
    font-family: Caveat;
}

h1 {
    text-align: center;
    /* font-family: ; */
}

.subhead {
    text-align: center;
}

.mainContainer {
    width: 90%;
    max-width: 1100px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

#infoContainter {
    border: 1px solid red;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 2rem 1rem 2rem 2rem;
    max-width: 35%;
    background-color: aqua;
    /* display: flex;
    justify-content: center; */
}

.spacer {
    margin: 1rem 0;
    border: 1px solid;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 452px;
    height: 452px;
    border: 1px solid purple;
    padding: 1rem 0;
    margin: 2rem 1.5rem;
}

.square {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.mole {
    background-image: url(images/mole-icon.jpg);
    background-size: cover;

}

.rise-shake {
    animation: jump-shaking 0.5s infinite;
}

@keyframes jump-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateY(-4px)
    }

    35% {
        transform: translateY(-4px) rotate(6deg)
    }

    55% {
        transform: translateY(-4px) rotate(-6deg)
    }

    65% {
        transform: translateY(-4px) rotate(6deg)
    }

    75% {
        transform: translateY(-4px) rotate(-6deg)
    }

    100% {
        transform: translateY(0) rotate(0)
    }
}

#controls {
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
}

#controls button,#difficulty button {
    width: 70px;
    margin:0 0.25rem;
    border-radius: 10px;
}